.PostForm form, .EditForm form {
    width: 800px;
    margin: 30px auto;
    border: 2px solid black;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
  }