.PostForm form, .EditForm form {
    width: 800px;
    padding: 1%;
    margin: 30px auto;
    border: 3px solid #6200EE;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
  }